
.nav-wrapper {
    background-color: #26abf2 !important;
    color: #f48642;
    font-size: 12px;
    font-family: 'pacifico' , cursive;
    object-fit: contain;
}

a {
  object-fit: contain;
}

h1 a, h2 a {
    color:#26abf2;
    text-align: inherit;
    text-decoration-color: black;
    background-color: whitesmoke;
    font-family: 'Bitter', serif;
    font-size: 20px;
    object-fit: contain;
}

img {
  border-radius: 50%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #26abf2;
    background-color: #f48642;
    font-size: 14px;
    font-family: 'bitter', serif;
    white-space: normal;
    padding-left: 15px;
    object-fit: contain;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer {
    padding-top: 0;
    text-align: right;
  }